/* Custom Style untuk tema Neo-Brutalist */
.brutalist-datepicker {
  --adp-background-color: #ffffff;
  --adp-border-color: #0f172a; /* slate-900 */
  --adp-border-width: 2px;
  --adp-border-radius: 16px;
  --adp-time-border-color: transparent !important;
  --adp-color: #0f172a;
  --adp-accent-color: #818cf8; /* indigo-400 */
  --adp-cell-background-color-selected: #818cf8;
  --adp-cell-background-color-hover: #fff7ed; /* orange-50 */
  
  border: 2px solid #0f172a !important;
  box-shadow: none !important; /* Hapus shadow lembut */
  padding: 10px;
}

/* Mempertebal font judul bulan */
.air-datepicker-nav--title, .air-datepicker-nav--title i {
  font-weight: 900 !important;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* Styling untuk Timepicker di dalam Air Datepicker */
.air-datepicker-time {
  border-top: none !important;
}

.air-datepicker--time {
  border-top: none !important;
}

.air-datepicker-time--current-hours, .air-datepicker-time--current-minutes {
  font-weight: 900;
  color: #818cf8;
}