<%# app/views/layouts/_flash.html.erb %>
<div class="fixed top-6 left-0 right-0 z-60 px-6 pointer-events-none">
  <% flash.each do |type, message| %>
    <div 
      data-controller="flash"
      class="max-w-md mx-auto bg-white border-2 border-slate-900 px-6 py-4 rounded-2xl flex items-center justify-between gap-3 pointer-events-auto mb-3 transition-all"
    >
      <div class="flex items-center gap-3">
        <div class="w-3 h-3 border-2 border-slate-900 <%= type == 'notice' ? 'bg-indigo-400' : 'bg-orange-300' %>"></div>
        <p class="text-sm font-bold text-slate-900"><%= message %></p>
      </div>
      
      <button data-action="click->flash#dismiss" class="text-slate-900 hover:scale-110 active:scale-90 transition-all">
        <i data-lucide="x" class="w-5 h-5"></i>
    </div>
  <% end %>
</div>